[Unit]
Description=Telegram Image Bot
After=network.target

[Service]
Type=simple
User=albert
WorkingDirectory=/home/albert/Documents/programs/DaguerreBot
ExecStart=/home/albert/Documents/programs/DaguerreBot/.venv/bin/python daguerre_bot.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
